@import "./reset.css";

/* ---------------------------------------------------- */
/*                                                      */
/* ---------------------------------------------------- */

:root {
    --app-main-blue: #257aff;
}

main {
    background: url(../img/photo-1448630360428-65456885c650.avif) center center / cover no-repeat;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: grid;
    place-items: center;
    width: 100%;
}

.hidden {
    visibility: hidden;
}

.load-screen {
    position: absolute;
    z-index: 1;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    background: rgb(20 24 28 / .8);
    display: grid;
    place-items: center;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

span {
    background: var(--app-main-blue);
    background: linear-gradient(90deg, rgba(102,162,255,1) 0%, rgba(37,122,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overlay {
    display: grid;
    place-items: center;
    height: 100vh;
    background: rgb(20 24 28 / .55);
    width: 100%;
}

.login-page {
    display: flex;
}

.login {
    height: 65vh;
    width: 70vh;
    right: 55vh;
    background-color: #fff;
    box-shadow: 0 0 10px var(--app-dark-bg);
}

.login-wrapper {
    display: grid;
    place-items: center;
    justify-content: center;
    padding: 20px;
}

.login-wrapper h1 {
    font-size: 1.8rem;
}

.login-wrapper > * {
    margin-bottom: 10px;
}

.info {
    font-size: 1.4rem;
    padding: 10px 0;
}

form {
    display: grid;
}

.enter-pw{
    margin-top: 10px;
}

.border {
    border: 1px solid var(--app-light-bg);
    padding: 0 10px;
}

.line-wrapper {
    display: flex;
    gap: 20px;
}

.gradient-line {
    background: var(--app-main-blue);
    background: linear-gradient(90deg, #5293f3 20%, rgba(37,122,255,1) 80%);
    width: 80px;
    height: 3px;
}

.line {
    background-color: #a4a4a4;
    width: 80px;
    height: 3px;
}

input[type="text"] {
    height: 40px;
    width: 300px;
    padding: 0 10px;
}

input[type="email"] {
    height: 40px;
    width: 300px;
    padding: 0 10px;
}

input[type="password"] {
    height: 40px;
    width: 300px;
    padding: 0 10px;
}

.fa-eye {
    cursor: pointer;
    color: var(--app-main-blue);
}

.fa-eye.active {
    color: var(--app-red);
}
i {
    color: #a4a4a4;
}

.btn-wrapper {
    display: flex;
    gap: 10px;
}

button {
    height: 36px;
    width: 50%;
    font-size: 15px;
    border-radius: 5px;
}

.user-login {
    background: var(--app-main-blue);
    background: linear-gradient(90deg, rgba(102,162,255,1) 0%, rgba(37,122,255,1) 100%);
    color: #fff;
    transition: transform 0.2s ease-in-out;
}

.user-login:hover {
    transform: scale(1.05);

}

.user-create {
    background-color: #fff;
    color: var(--app-main-blue);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: transform 0.2s ease-in-out;
}

.user-create:hover {
    transform: scale(1.05);
}


.option-wrap {
    display: flex;
    margin-bottom: 10px;
}

.input-wrap {
    width: 50%;
}

label {
    font-size: 12px;
}

.frgt-pw {
    width: 50%;
    text-align: right;
    cursor: pointer;
}

.frgt-pw h2 {
    font-size: 12px;
    font-weight: 400;
    color: #a4a4a4;
}

.hint, .error {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.error {
    color: var(--app-red);
}

.login-options {
    font-size: 14px;
    margin-top: 22px;
}

ul {
    display: flex;
    gap: 15px;
    color: var(--app-main-blue);
    cursor: pointer;
}

ul p {
    color: #000;
}

li:hover {
    text-decoration: underline var(--app-main-blue);
}

.img-wrapper {
    display: grid;
}

.img-wrapper h1{
    text-align: right;
    position: absolute;
    right: 40vh;
    font-size: 1.6rem;
    background: var(--app-main-blue);
    background: linear-gradient(90deg, rgba(102,162,255,1) 0%, rgba(37,122,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img-wrapper img {
    display: block;
    
    height: 65vh;
    width: 100%;
}


@media (max-width: 456px) {
    .login {
        height: 80vh;
        width: 100%;
    }
    .img-wrapper img {
        display: none;
    }

    .img-wrapper h1 {
        display: none;
    }

    .login-wrapper > * {
        margin-bottom: 20px;
    }
    

}